/*////////////////////////////////////////////////////////////////   Hier beginnen allgemeine Sheets   //////////////////////////////////////////////////////////////////*/
    html,body{
      min-height: 100vh;
    }

    body
    {
      background-color:#add3ff;
      color: azure;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16pt;
    }

    .flex{
      justify-content: center;
      display: grid;
      }

    .Zustand
    {
      font-size: 18pt;
      color: rgb(255, 255, 255);
    }

    .Zustand2
    {
      font-size: 18pt;
      color: rgb(255, 255, 255);
    }
      
    .mittig{
     justify-content: center;
     display: grid;
    }
    
    thead 
    {
        text-align: center; 
        vertical-align: middle;
    }

    th 
    {
        text-align: center; 
        vertical-align: middle;
    }

    td 
    {
        text-align: center; 
        vertical-align: middle;
    }
  
  /*///////////////////////////////////////////////////////////////   Hier beginnen alle Sheets für die Navigationsbar   ////////////////////////////////////////////////////////*/
      .dropdown-menu  
      {
        width: max-content;
      }

      .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 3cm;
        top: -7px;
      }

      .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
      }

      .vertikal{
        vertical-align:top;
      }

      .simulationsknopf-navi
      {
        padding-left: 10px;
        padding-bottom: 5px;
        max-width: 200px;
        max-height: 60px;

      }
        
      #begruesungsauswahl
      {
        pointer-events: none;
      }

      .navbar_unten{
        font-size: 8pt; 
        color: grey; 
        margin-left:5px;
      }
  
      #bootstrap-overrides #flexCheckDefault
      {
        margin-left: -2mm;
        float: none;
      }

  
/*/////////////////////////////////////////////////////////////////////   Hier beginnt die Umrandung der Website  ////////////////////////////////////////////////////////////*/
    .Umrandung{
      margin-top: 5px;
      max-width: 1500px;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 50px;
    }

/*//////////////////////////////////////////////////////////////   Hier beginnt Die ErsteDivision eingeteilt in ihre Unterdivisionen  //////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////   Hier beginnt der Erste_Division_oben Bereich   ////////////////////////////////////////////////////////////*/
    #Erste_Division_oben
    {
      width: auto;
      height: 100%;
      background-color: rgb(62, 64, 70);
    }

    .Funktionen
    {
      text-align: center;
      font-size: 20pt;
      padding-top: 8px;
      background-color:#212529;
      border-radius: 20px 20px 0px 0px;
    } 

    .tueroeffnerknopf{
      height:100px; 
      width: 300px; 
      background-color: #212529; 
      font-size: 22pt;
    }

    .icon-oben{
      font-size: 1.7rem;
      color: cornflowerblue;
    }

      
    .feld-oben{
      height:95px;
      width: 200px;
      background-color: #212529;
      border: 1px solid #0d6efd;
      border-radius: 4px;
      padding-top: 5px;
    }

    .knopf-div-oben{
      height:90px;
      width: 200px;
      background-color: #212529;
      font-size: 16pt;
    }
      
    .begrüßungsansagen{
      margin-left: 24px;
      background-color: white; 
      max-width: 150px; 
      max-height: 40px;
    }

    .herunterladen{
      color:blue;
      background-color: white;
      background-size:cover;
    }

    .form-check{
      float: 10px;
    }

    .form-check-label{
      padding-left: 10px;
    }
      
    .speichern{
    margin-top: 5px; 
    margin-right: 10px;
    margin-left: 10px;
    }

    .tabellenkonfig{
      margin-left: 5px;
      height:100px;
      overflow-y: scroll;
    }

/*/////////////////////////////////////////////////////////////   Hier beginnt der "Erste_Division_unten" Bereich   ////////////////////////////////////////////////////////*/
    #Erste_Division_unten
    {
      width: auto;
      height: 100%;
      background-color: rgb(62, 64, 70);
    } 

    .Pin-Anzeige{
      height: 75px;;
      width: 145px;
      background-color: #fffffff6;
      border-radius: 4px;
      color: black;
    }

    .Pin-Anzeige2{
      height:75px;
      width: 125px;
      background-color: #212529;
      border: 1px solid #0d6efd;
      border-radius: 4px;
    }

    .icon-unten{
      font-size: 1.7rem;
      color: rgb(38, 37, 134);
    }

    .kreis-grün {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: #00ff37;
    }

    .kreis-rot {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: #ff0000;   
    }

    .kreis-grau {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: #221f1f;   
    }

    .colum-unten{
      justify-content: center;
      display: grid;
      padding-bottom: 10px;
      text-align: center;
    }

    .colum-unten2{
      padding-bottom: 10px;
      justify-content: right;
      display: grid;
    }

    .Input-Output{
      text-align: center;
      padding-top: 10px;
    }

    .strich-unten{
      text-align: center; 
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .colum-leuchte{
      display:flex;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-right: 2px solid white;
    }

    .col_lichtstärkeO{
      display:flex;
      justify-content: center;
    }

    .col_lichtstärkeU{
      display:flex;
      justify-content: center;
    }

    .Lichtstärketitel{
      font-size: 28px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .runter{
      padding-top: 40px;
      padding-bottom: 20px;
    }
 
/*////////////////////////////////////////////////////////////   Hier beginnt die "Zweite_Division" mit ihren Unterdivisionen   ///////////////////////////////////////////////////*/
    #Zweite_Division
    {
      width: 100%;
      height: 100%;
      float: right;
      background-color: #2c3034;
    }

/*///////////////////////////////////////////////////////////    Hier beginnt der "Zweite_Division_oben" Bereich   ///////////////////////////////////////////////////////*/  
    #Zweite_Division_oben
    {
      width: auto;
      height: auto;
      background-color: rgb(62, 64, 70);
    }

      /*das ist die Positionierung des Kamerabildes*/
    .Kamerabild
    { 
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    .zweite-spalte-oben{
      justify-content: center;
      display:flex; 
      padding-top: 15px; 
      padding-bottom: 20px;
    }

    .besucherliste{
      font-size: 14pt;
    }

/*///////////////////////////////////////////////////////////    Hier beginnt der "Zweite_Division_unten Bereich   //////////////////////////////////////////////////////*/   
    #Zweite_Division_unten
    {
      width: auto;
      height: auto;
      flex-grow: 1;
    }
    
    .tueroffner2{
      background-color: #212529; 
      width: 160px;
    }

    .Tabellenhintergrund{
      padding-top: 15px;
    }
    
    .Anzeigeflächen {
      border-radius: 20px 20px 20px 20px;
      background-color: rgb(62, 64, 70);
      background: auto;
    }
